<a class="articlePreview" href="{{var(outputPath)}}">
	<div class="imageCrop">
		<img class="previewImage" alt="{{var(imageAlt)}}" src="{{var(outputImage)}}">
	</div>
	<span class="previewTitle">
		<p>{{var(title)}}</p>
		<p class="date">{{var(date)}}</p>
	</span>
</a>