<a class="codium-preview-box" href="{{var(outputPath)}}">
	<img class="preview-image" alt="{{var(imageAlt)}}" src="{{var(outputImage)}}">
	<p>{{var(title)}}</p>
	<p class="date">{{var(date)}}</p>
</a>