---
layout: template.njk
---
<article class="codium-content-page light">
		{%- if abstract -%}
		<figure class="codium-quote">
			<blockquote>"{{abstract}}"</blockquote>
			<figcaption>-{{abstractAuthor}}</figcaption>
		</figure>
		{%- endif -%}
{{content|safe}}
</article>