---
layout: template.njk
---
{%- if abstract -%}
<figure class="codium-aside">
	<blockquote><p>"{{abstract}}"</p></blockquote>
	<figcaption>-{{abstractAuthor}}</figcaption>
</figure>
{%- endif -%}
<article class="codium-content-page light">
{{content|safe}}
</article>