<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<!-- 
				Copyright 2021 Arriana Blais
				Licensed under the Apache License, Version 2.0 (the "License");
				you may not use this file except in compliance with the License. 
			-->
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta property="og:title" content="{{title}}">
		<meta property="og:description" content="Arri Talks about Gay Shit">
		<meta property="og:image" content="https://arri.gay{{page.url}}{{image}}">

		<meta name="twitter:card" content="summary_large_image">
		
		<title>{{title}} - Arriana Blais</title>
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Infant:300i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cormorant:400i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/lib/css/main.css">
		<link rel="stylesheet" type="text/css" href="/lib/css/syntaxHighlight.css">
	</head>
	<body>
	<header>
		<div class="widthFix">
			<h1>{{title}}</h1>
		</div>
		<a href="/" class="profile">
			<img alt="Arri looking into the camera" src="/lib/images/profile.jpg">
			<div class="inlineBox">
				<span class="profileName">Arri Blais</span>
				<span class="profileTitle">Human who loves nature and people</span>
			</div>
		</a>
	</header>
	<img class="backdrop" alt="{{imageAlt}}" src="{{image}}">
	<div class="generatedBody">
		{{content|safe}}
	</div>
	<footer class="footer">
		<p>&copy; {{ globals.now | date("YYYY")}} Arriana Blais</p>
		<p>Software Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></p>
		<p>you may not use this file except in compliance with the License. </p>
		<p>All written, photographed and other creative work, unless otherwise specified, is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
	</footer>
	</body>
</html>