<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<!-- 
				Copyright 2021 Arriana Blais
				Licensed under the Apache License, Version 2.0 (the "License");
				you may not use this file except in compliance with the License. 
			-->
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta property="og:title" content="{{title}}">
		<meta property="og:description" content="Arri Talks about Gay Shit">
		<meta property="og:image" content="https://arri.gay{{page.url}}{{image}}">

		<meta name="twitter:card" content="summary_large_image">
		
		<title>{{title}} - Arriana Blais</title>
		<link rel="stylesheet" type="text/css" href="/lib/css/main.css">
		<link rel="stylesheet" type="text/css" href="/lib/css/syntaxHighlight.css">
		<style>
		body {
			background-image: url('{{image}}')
		}
		</style>
	</head>
	<body class="background dark">
	<header class="codium-header">
		<h1>{{title}}</h1>
		<a href="/" class="codium-profile">
			<img class="profile-pic" alt="Arri looking into the camera" src="/lib/images/profile.jpg">
			<span class="profile-name">Arri Blais</span>
			<span class="profile-title">Human just doing the best she can</span>
		</a>
	</header>
	<div class="generatedBody">
		{{content|safe}}
	</div>
	<footer class="codium-footer dark">
		<p>&copy; {{ globals.now | date("YYYY")}} Arriana Blais</p>
		<p>Software Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a></p>
		<p>you may not use this file except in compliance with the License. </p>
		<p>All written, photographed and other creative work, unless otherwise specified, is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
	</footer>
	</body>
</html>