---
title: Arri Blais' Personal blog
layout: template.njk
image: background.jpg
imageAlt: pond with trees showing their fall foliage in the background, reeds sit in the foreground
---
{%- for post in collections.post -%}
	<a class="codium-preview-box" href="{{post.url}}">
		<p>{{post.data.title}}</p>
		<p>{{post.data.date | date("MMMM D, YYYY")}}</p>
		<img class="preview-image" src="{{post.url}}/{{post.data.image}}">
	</a>
{%- endfor -%}